body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222126;
}

header .logo {
    max-width: 50px;
    margin-top: 10px;
}

main {
    text-align: center;
    margin: 5px;
}

.boton-regreso .fa-arrow-left 
{
    color: #fff;
    font-size: 1.2em;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    margin: 20px;
}

h2 {
    font-family: 'Helvetica Neue', Courier, monospace;
    font-size: .7em;
    color: #fff;
    margin: 20px;
    width: 350px;
    margin-left: 50px;
}

.boton-regreso {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icono-regreso {
    width: 30px;
    height: 30px;
}

.soundcloud-responsive {
    position: relative;
    max-width: 80%;
    margin-left: 40px;
    width: 100%;
    padding-bottom: 56.25%; /* Mantiene una relación de aspecto de 16:9 */
    height: 100px;;
}

.soundcloud-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


h3 {
    font-family: 'Helvetica Neue', Courier, monospace;
    font-size: .7em;
    color: #fff;
    margin: 20px;
    width: 350px;
    margin-left: 27px;
}
