body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222126;
    height: fit-content;
}

header .logo {
    max-width: 50px;
    margin-top: 10px;
}

main {
    text-align: center;
    margin: 5px;
}

.boton-regreso .fa-arrow-left 
{
    color: #fff;
    font-size: 1.2em;
}

h1 {
    font-size: 1.5em;
    color: #fff;
    margin: 20px;
}

h2 {
    font-family: 'Helvetica Neue', Courier, monospace;
    font-size: .7em;
    color: #fff;
    margin: 20px;
    width: 350px;
    margin-left: 50px;
}

#contactoWhatsApp {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactoWhatsApp:hover {
    background-color: #1ebe5f;
}

.boton-regreso {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icono-regreso {
    width: 30px;
    height: 30px;
}

.soundcloud-responsive {
    position: relative;
    max-width: 80%;
    margin-left: 60px;
    width: 100%;
    padding-bottom: 56.25%; /* Mantiene una relación de aspecto de 16:9 */
    height: 0;;
}

.soundcloud-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.precios {
    margin-top: 20px;
    margin: 60px;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    align-items: center;
}

h3 {
    font-family: 'Helvetica Neue', Courier, monospace;
    font-size: .7em;
    color: #fff;
    margin: 20px;
    width: 350px;
    margin-left: 110px;
}

.precios table {
    margin-top: 20px;
    color: #fff;
    border-collapse: collapse;
    width: 100%;
}

.precios th, .precios td {
    border: 1px solid #fff;
    padding: 10px;
    font-size: 0.7em;
}

.formulario-exclusivas {
    margin-top: 20px;
    color: #fff;
}

.formulario-exclusivas form {
    display: flex;
    flex-direction: column;
}

.formulario-exclusivas input, .formulario-exclusivas textarea {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    max-width: 80%;
    margin-left: 50px;
}

.formulario-exclusivas button {
    padding: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 84%;
    margin-left: 50px;
}

.formulario-exclusivas button:hover {
    background-color: #1ebe5f;
}

/* Estilos para el mensaje de estado */
#formStatus {
    font-size: 0.8em;
    margin-top: 10px;
}

/* footer */
footer {
    background-color: #222126; /* Ajusta el color de fondo según tu diseño */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.7em;
}

.redes-sociales a {
    margin: 0 10px;
}

.redes-sociales img {
    width: 18px; /* Ajusta según el tamaño deseado */
    height: auto;
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
}

.redes-sociales a:hover img {
    opacity: 1;
}



@media (min-width: 992px) {
    .soundcloud-responsive {
        max-width: 200%; /* Ancho máximo más grande en escritorio */
        width: 100%;
        margin-left: auto; /* Centra el contenedor en la página */
        margin-right: auto;
    }
}